<div fxLayout="column" fxLayoutGap="36px">
  <h2>Set a new password</h2>
  <form fxLayout="column" fxLayoutGap="16px" [formGroup]="setNewPasswordForm">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput name="password" formControlName="password">
      <mat-error *ngIf="setNewPasswordForm.touched && setNewPasswordForm.get('password').hasError('required')">Please enter a password.</mat-error>
      <mat-error *ngIf="setNewPasswordForm.touched && setNewPasswordForm.get('confirm_password').hasError('minLength')">Password should be of atleast 8 characters.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput name="confirm-password" formControlName="confirm_password">
      <mat-error *ngIf="setNewPasswordForm.touched && setNewPasswordForm.get('confirm_password').hasError('required')">Please confirm your password.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" routerLink="/auth/sign-in">Continue</button>
  </form>
</div>
