<div fxLayout="column" fxLayoutGap="36px">
  <div fxLayout="column">
    <h2>Reset your password</h2>
    <p>The password reset instructions will be sent to your registered email</p>
  </div>
  <form fxLayout="column" [formGroup]="resetPasswordEmailForm">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput name="email" formControlName="email">
    </mat-form-field>
    <button mat-raised-button color="primary" routerLink="/auth/set-new-password">Send Reset Link</button>
  </form>
</div>
